{% extends "mysite/page.html" %}

{% block content %}
    <div id="toaster"><div class="toaster-inner"></div></div>
    <script language="javascript" src="/static/awards.js"></script>
    
    {% if request.user.is_authenticated %}
        <div class="register-notice">
        Associate an email address and password with your awards to start collecting them.<br/>
        <input name="email"/> <input name="password"/> <input type="submit" value="save"/>
        </div>

        <h2>your awards</h2>
        <ul class="sites">
        {% for source, source_awards in awards.items %}
            <li><h3>from {{ source }}</h3>
                <ul class="awards">
                    {% for award in source_awards %}
                    <li class="award">
                        <div class="name">{{ award.name }}</div>
                        {% ifnotequal award.number 1 %}
                            <div class="number">&times;{{ award.number }}</div>
                        {% endifnotequal %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>

        <script>
            $(document).ready(function() {
                toaster_message("You just got the <strong>Visited the awards site</strong> award");
                setTimeout('toaster_message("<a href=\'\'>Associate your awards account here</a>");', 500);
            });
        </script>
    {% else %}
        You aren't logged in.
        
        <script>
            $(document).ready(function() {
                toaster_message("You need to log in to show your awards");
            });
        </script>
    {% endif %}
{% endblock %}
