{% extends "mysite/page.html" %}

{% block content %}
<div id="toaster"><div class="toaster-inner">

</div></div>

<div class="register-notice">
Associate an email address and password with your awards to start collecting them.<br/>
<input name="email"/> <input name="password"/> <input type="submit" value="save"/>
</div>

<h2>your awards</h2>
<ul class="sites">
{% for source, source_awards in awards.items %}
    <li><h3>from {{ source }}</h3>
        <ul class="awards">
            {% for award in source_awards %}
            <li class="award">
                <div class="name">{{ award.name }}</div>
                {% ifnotequal award.number 1 %}
                    <div class="number">&times;{{ award.number }}</div>
                {% endifnotequal %}
            </li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

<script>
    toaster_top = false;
    gap = 10;
    top_toaster = null;

    function show_toaster(el) {
        el.show().css("opacity", "0");
        if(toaster_top)
            el.animate({opacity:"1", top:el.final_pos+"px"}, 1000);
        else
            el.animate({opacity:"1", bottom:el.final_pos+"px"}, 1000);
    }
    
    function hide_toaster(el) {
        el.fadeOut(1000, function(){ el.remove(); });
        if(top_toaster == el) top_toaster = null;
    }
    
    function add_corners(el) {
            el.css("-moz-border-radius-bottomleft", "10px")
            el.css("-moz-border-radius-bottomright", "10px")
            el.css("-moz-border-radius-topleft", "10px")
            el.css("-moz-border-radius-topright", "10px")
    }

    function toaster_message(msg) {
        el = $('<div class="toaster"><div class="toaster-inner">'+msg+'</div></div>').appendTo('#content');
        
        //el.click(function(){ hide_toaster(el); });

        pos = -el.height();
        if(top_toaster != null)
        {
            if(toaster_top)
                pos += top_toaster.final_pos + top_toaster.height();
            else
                pos += top_toaster.final_pos + top_toaster.height();

            top_toaster = el;
        }
        else
            top_toaster = el;

        if(toaster_top)
            el.css("top", pos+"px");
        else
            el.css("bottom", pos+"px");

        el.final_pos = pos+el.height()+gap;

        el.hide();
        
        add_corners(el);
        show_toaster(el);
        
        setTimeout(function(el) { hide_toaster(el); }, 10000, el);

        return el;
    }
    
    $(document).ready(function() {
        toaster_message("You just got the <strong>Visited the awards site</strong> award");
        setTimeout('toaster_message("<a href=\'\'>Associate your awards account here</a>");', 500);
    });
</script>

{% endblock %}
