* {
    margin:0;
    padding:0;
    border:0;
}

body {
    margin: auto;
    width: 996px;
    font-family:sans-serif;
    background:black;
    color:#FCFCFC;
}

#wrapper {
    padding-top:1em;
}

ul.sites {
    margin-top:2em;
}

ul.sites li {
    list-style:none;
}

ul.sites > li {
    margin-bottom:1em;
    clear:both;
}

ul.awards {

}

ul.awards > li {
    display:block;
    float:left;
    width:150px;
    height:75px;
    border:1px solid #CCC;
    padding:5px;
    margin:5px;
}

li.award {
    text-align:center;
    border-radius:5px;
    -moz-border-radius:5px;
    background:white;
    color:#111;
}

li.award .name {
    font-size:1.0em;
    margin-bottom:0.25em;
}

li.award .number {
    font-size:0.9em;
    text-align:center;
}

.register-notice {
    padding:10px;
    border:1px solid #CCC;
    font-size:0.9em;
    margin-bottom:1em;
}

.register-notice input {
    padding:2px;
}

/* toaster */
#toaster {
    position:absolute;
    top:-200px;
    right:100px;
    width:150px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    background:white;
    color:#111;
    font-size:0.8em;
}

.toaster-inner {
    padding:10px;
}
